!!! 5
html
  head

    meta(charset="utf-8")/
    meta(content="width=device-width, initial-scale=1.0", name="viewport")/
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")/

    title nekman.se
  
    link(rel="stylesheet", href="css/app.min.css")/
    script(data-main="js/app.min", src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js")

  body
    header    
      h1 nekman
    
    div(class="ribbon")
      a(href="http://github.com/nekman/nekman.se") View on Github

    #main